body{
    background-color:#A2B3E2;
    margin: 0;
	padding: 0;
}

nav{
    height: 5%;
    text-align:center;
    background-color:#fff;
    border-radius: 5px;
    padding: 5px;
    font-size: x-large;
}

main{
    text-align: center;
    margin-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
}

footer{
    margin-top: 30%;
    background-color:#253F89;
}

div#txtFooter{
    display: inline-block;
    background-color: #253F89;
    padding: 0;
    color: #A2B3E2;
    margin-left: 10%;
}
a#txtFooter{
    color: #A2B3E2;
}

img{
    max-width: 100%;
}

div{
    background-color: #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 20px;
    margin: 10px;
}

a{
    text-decoration: none;
    color:#000;
}

a:hover{
    color:8A0000;
}

div#calc{
    width: 100%;
    margin-left: 0%;
    padding: 0px;
}

.indice{
    text-decoration: underline;
    color: #0000FF;
    font-size: medium;
}
